div.start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.initial-instruction {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}
